{% extends 'base.html.twig' %}

{% block title %}Edit Annulation{% endblock %}

{% block body %}
    <h1>Edit Annulation</h1>

    {{ include('annulation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_annulation_index') }}">back to list</a>

    {{ include('annulation/_delete_form.html.twig') }}
{% endblock %}
