{% extends 'base.html.twig' %}

{% block title %}New Recherche{% endblock %}

{% block body %}
    <h1>Create new Recherche</h1>

    {{ include('recherche/_form.html.twig') }}

    <a href="{{ path('app_recherche_index') }}">back to list</a>
{% endblock %}
